html {
  background: -webkit-linear-gradient(top, #040f1c, #132132, #040f1c) no-repeat;
  background: -o-linear-gradient(top, #040f1c, #132132, #040f1c) no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #040f1c, #132132, #040f1c) no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #040f1c, #132132, #040f1c) no-repeat; /* Standard syntax */
  height: 100vh;
}

body {
  height: 80vh;
  text-align: center;
  margin: auto;

}

.masthead {
  position:absolute;
  z-index: 999;
  font-size: 4vw;
  width: 100%;
  height: 10%;
  font-family: Arial, sans-serif;
  text-decoration: none;
  text-shadow: 1px 1px 1px #B20808;
  text-decoration: none;
  margin: 0;
  padding: .5em 0;
  background: -webkit-linear-gradient(top, #040f1c, #2B3746) no-repeat;
  background: -o-linear-gradient(top, #040f1c, #2B3746) no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #040f1c, #2B3746) no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #040f1c, #2B3746) no-repeat; /* Standard syntax */
}

button {
  -moz-box-shadow:inset 0px 34px 0px -15px #b5665a;
  -webkit-box-shadow:inset 0px 34px 0px -15px #b5665a;
  box-shadow:inset 0px 34px 0px -15px #b5665a;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a73f2d), color-stop(1, #b34332));
  background:-moz-linear-gradient(top, #a73f2d 5%, #b34332 100%);
  background:-webkit-linear-gradient(top, #a73f2d 5%, #b34332 100%);
  background:-o-linear-gradient(top, #a73f2d 5%, #b34332 100%);
  background:-ms-linear-gradient(top, #a73f2d 5%, #b34332 100%);
  background:linear-gradient(to bottom, #a73f2d 5%, #b34332 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a73f2d', endColorstr='#b34332',GradientType=0);
  background-color:#a73f2d;
  border:1px solid #241d13;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
}
button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b34332), color-stop(1, #a73f2d));
  background:-moz-linear-gradient(top, #b34332 5%, #a73f2d 100%);
  background:-webkit-linear-gradient(top, #b34332 5%, #a73f2d 100%);
  background:-o-linear-gradient(top, #b34332 5%, #a73f2d 100%);
  background:-ms-linear-gradient(top, #b34332 5%, #a73f2d 100%);
  background:linear-gradient(to bottom, #b34332 5%, #a73f2d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b34332', endColorstr='#a73f2d',GradientType=0);
  background-color:#b34332;
}
button:active {
  position:relative;
  top:1px;
}

}


.help {
  text-align: justify;

}

.container {
  margin-left: 10%;
}

div {
  box-sizing: border-box;
  clear:none;
}

/*board definitions*/
.gameboard {
  /*position:fixed;*/
  margin: 0 auto;
  /*position:absolute;*/
  z-index: 1;
  top:0;
 /* right:0;
  bottom:0;*/
  left:0;
  max-width: 60vh;
  background: -webkit-linear-gradient(top, #001D55, #132132) no-repeat;
  background: -o-linear-gradient(top, #001D55, #132132) no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #001D55, #132132) no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #001D55, #132132) no-repeat; /* Standard syntax */
  /*height: 72vh;*/
  border: solid 5px black;
 /* height: 100%;*/
  font-size:0px;
}

.row {
  /*width: 95%;*/
  display: block;
  line-height: 0px;
  padding: 0px;
  border: 0px;
  margin:0px;outline:none;
  vertical-align: top;
  font-size:0px;
}

/*#row-24, #row-23, #row-22, #row-21 {
  height: 24px;
  visibility: hidden;
}*/

.cell {
  width:10%;
  /*border: solid 1px black;*/*/
  border: 0;
  display: inline-block;
  padding: 1vh;
  margin:0px;
  /*outline:none;*/
  vertical-align: top;
  border-spacing: 0;
  font-size:2vh;
  line-height:2vh;
}

.cell.red {
  background-image: url("../img/iconset2/red.png");
  background-size: cover;
}

.cell.orange{
  background-image: url("../img/iconset2/orange.png");
  background-size: cover;
}

.cell.blue {
 background-image: url("../img/iconset2/blue.png");
  background-size: cover;
}

.cell.aqua {
 background-image: url("../img/iconset2/aqua.png");
  background-size: cover;
}

.cell.purple {
 background-image: url("../img/iconset2/purple.png");
  background-size: cover;
}
.cell.green {
 background-image: url("../img/iconset2/green.png");
  background-size: cover;
}
.cell.white {
 background-image: url("../img/iconset2/white.png");
  background-size: cover;
}
/*tablet*/

@media screen and (min-device-width: 768px) and (max-width: 1024px) and (max-device-height: 768px) {

  body {
    background-color: orange;
  }

  .row {
    width: 100%;
    display: block;
    line-height: 0px;
    padding: 0px;
    border: 0px;
    margin:0px;outline:none;
    vertical-align: top;
    font-size:0px;
  }

  #row-24, #row-23, #row-22, #row-21 {
    height: 16px;
    visibility: hidden;
  }

  .cell {
    width:08%;
    /*border: solid 1px black;*/*/
    border: 0;
    display: inline-block;
    padding: .6em;
    margin:0px;outline:none;
    vertical-align: top;
    border-spacing: 0;
    font-size:12px;
    line-height:14px;
  }
}

/*mobile*/
@media screen and (min-device-width: 320px) and (max-width: 480px) {

  body {background-color: black}

  .row {
    width: 95%;
    display: block;
    line-height: 0px;
    padding: 0px;
    border: 0px;
    margin:0px;outline:none;
    vertical-align: top;
    font-size:0px;
  }

  #row-24, #row-23, #row-22, #row-21 {
    height: 16px;
    visibility: hidden;
  }

  .cell {
    width:07%;
    /*border: solid 1px black;*/*/
    border: 0;
    display: inline-block;
    padding: .6em;
    margin:0px;outline:none;
    vertical-align: top;
    border-spacing: 0;
    font-size:8px;
    line-height:10px;
  }
}
.menu {
  position:relative;
  float: left;
}


.centered-text {
  font-size: 3vw;
  color:#F1F2F7;
  /*max-width: 80%;*/
  width: 80vw;
  margin: 0 auto;
  position:relative;
  float: right;

}
