<div id="board">
  <div class="masthead">
    <div class="centered-text">Your Score</div>
    <div class="menu">
      <form method="post" action="/session">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Sign out</button>
      </form>
    </div>
    <div class="menu">
      <button class='play-button' type='submit'>Play</button>
    </div>
  </div>
</div>


